@model HMS.Models.Duty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Duty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DutyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DutyDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
